@media only screen and (min-width:1px){
    .main-contents{
        display: flex;     
    }
    .mainbar-left{
        padding-top: 3em;
    }
    .nav-pages{
        margin-right: 1.5em;
        COLOR:#00B98E;
    }
    #nav-page{
       color: #0E2E50;
    }

    .main-title{
        font-size: calc(1.65rem + 2vw);
        font-weight: 900;
        margin-bottom: 0.3em;
        color: #0E2E50;
    }
    .Error-div{
        text-align: center; 
        color: #0E2E50;
        margin-bottom: 5em;
    }
    .Error-img-div{
        width: 15%;
        margin: 0 auto;
    }
    .Error-head{
        font-size: calc(3.5rem + 2vw);
        font-weight: 900;
    }
    .Error-head-2{
        font-size: calc(1rem + 1.5vw);
        font-weight: 700;  
        margin: -0.5em 0em 0.5em 0em ;
    }
    .Error-content{
        width:75%;
        margin: 0 auto;
        margin-bottom: 1.2em;
        font-size: 15px;
    }

}
@media only screen and (min-width:482px){

}
@media only screen and (min-width:768px){
    .mainbar-left{
        padding-top: 12em;
    }
    .Error-img-div{
        width: 7%;
    }
        .Error-content{
        width:45%;
    }
}
