@media only screen and (min-width:1px){

/* @media only screen and (min-width:481px){ */
    .mainbar{
        background: whitesmoke;
    }
    .main-title{
        font-size: calc(1.505rem + 2vw);
        font-weight: 900;
        line-height: 1.2;
        padding-right: 2em;
        margin-bottom: 0.7em;
    }
    .main-span{
        color: #00B98E;
    }
    .main-content{
        line-height: 1.5; 
        font-size: 1em;
        padding-right:2.5em ;
        margin-bottom: 2em;
        color: #666565;
    }
    .btn-main{
        width: 50%;
    }
    .mainbar-right{
        padding-left: 0em;
    }
    .mainbar-left{
        padding:3em  0em 3em 3em;
    }
    /* the lines below illustrates the styles of the formbar component */
    .formbar{
        background:   #00B98E ;
        padding: 2em 0em;
        margin-bottom: 5em;
    }
    .input{
        width: 75%;
        margin:0 auto;
        color: #666565;
        background-color: #fff; 
        margin-bottom: 0.6em;
        border-radius: 5px;
        padding: 1em 0.7em;
    }
    .btn-input{
        padding: 0em;
    }
    .formbar-search{
        width: 100%;
    }
    .formbar-search:focus{
        outline: none;
    }
    .form-location {
        color: #666565;
        background-color: #fff;
        line-height: 1.7; 
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 1em ;
    }
    .form-location:focus{
        outline: none;
    }
    .home-options{ 
        width: 75%;
        margin:0 auto;
        color: #666565;
        background-color: #fff; 
        margin-bottom: 0.6em;
        border-radius: 5px;
    }
/* The lines thatfollow are the styles for thr ownership component */
.ownaership,.listing{
  margin:0em 1.5em;
}
.properties-section{
    text-align: center;
}
.properties-title{
    color: #0E2E50;
    font-size: 1.8em;
    font-weight:500;
    margin-bottom:0.2em;
}
.properties-content{
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
}
.property-prop{
    background:  #EFFDF5;       
    margin: 0.5em;
    padding: 1em;
} 
.property-card{
    border:dashed 1px #00B98E ; 
    background:white;
    padding: 1.5em 0em;
    border-radius: 7px;
    margin: auto;
}
.property-card:hover {
background: #00B98E;
color:#EFFDF5;
}
.property-image-div{
 border:dashed 1px #00B98E ; 
 border-radius: 50%;
 width: 4.8em;
 padding: 1em;
 margin: 0 auto;
 background: white;
}
.property-title-div{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 0.6em;
   
}
.property-count-div{
    margin: 0 auto;
 text-align: center;
 margin-top: 0.3em;
color: #00B98E;
 
}
.properties{
    margin:2em 0em;
}
/* the lines thatfollow are the styles for the places component  */
.place{
    margin:0em 1.5em;   
}
.place-left{
background: linear-gradient(90deg, #00B98E 0%, rgb(255, 255, 255) 51%, rgb(251, 251, 251) 51%, rgb(249, 246, 246) 0%);
padding: 3em;
}
.list{
    font-size: 1rem;
    font-weight: 400;
   margin-top: 1em;
    color: #666565
}
.place-header{
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
    color: #0E2E50;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}
.place-content{
    color: #0E2E50;
    font-size: 1rem;
}
.place-list {
    margin-bottom: 5em;
}
.place-btn{
    width: 50%;
    margin: 2em 0em;   
}
/* the lines thatfollow are the styles for the listing component  */
.listing-header{
    font-family: "Inter",sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #0E2E50;
}
.listing-content{
    margin: 0.7em 0em 3em 0em;
    color: #0E2E50;
}
.list-nature{
    background: #00B98E;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    width: 30%;
    position: relative;
    bottom:10em;
    left: 1.5em;
}
.list-type{
   color:#00B98E; 
   background: white;
   border-radius: 5px;
   padding: 0.3rem 0.5rem;
   width: 36%;
   position: relative;
   bottom:3.5em;
   left: 1.5em;
   text-align: center;
}
.list-price{
    color:#00B98E; 
    font-size: 1.3em;
    font-weight: bold;
    margin: -2em 0em 0.5em 1em;
}
.list-name{
    font-size: 1.2em;
    font-weight: 600; 
    margin: 0em 0em 0em 1em;
}
.location-img{
    width: 0.8em;
    margin-top: 2px;
    margin-right: 8px;
}
.location{
    margin-left: 20px;
}
.list-equipments{
   margin: 0em 2em 2em 2.5em; 
   color: #666565;
    font-size: 16px;
}
.area-img {
    height: 21px;
}
.list-vutton{ 
    width: 75%;
    margin: 0 auto;
    margin-bottom: 7em;
}
.list-equipments {
    margin: 1.5em 0em 2em 3px;
    font-size: 14px;
}
/* style thatfollow correspond the contact component   */
.contact-div{
    margin:0em  1.5em; 
    background:  #EFFDF5;
    padding: 1.3em;
    margin-bottom: 7em;
}
.contact-card{
    background: white;
    padding: 1em;
}
.contact-header{
    font-family: "Inter",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #0E2E50;
    font-size: 1.7em;
    margin: 1.2em  1em   0.5em 0em ;
}
.contact-content{
    color: #0E2E50;
    margin-bottom: 1.5em;
}
.phene-call-img{
    width:1.4em;
    margin-top: 2px;
}
.cal-call-img{
    width:1.3em;
    margin-top: 2px;
}
.contact-btns{
    display:block;
}
.contact-btn1{
    border:none;
    color: #fff;
    background-color: #00B98E;
    border-color: #00B98E;
    border-radius: 5px;
    padding: 1em 1.2em;
}
.contact-btn2{
    border:none;
    color: #fff;
    background-color: #0E2E50;
    border-color: #0E2E50;
    border-radius: 5px;
    padding: 1em 1.2em;
    margin-top:0.5em;
}

/* the lines below inclued s the styles for the agent component */
.agents{
    margin:0em 1.5em; 
    padding-bottom: 5em; 
}
.agents-previw{
    text-align: center;
}
.agents-header{
    color: #0E2E50;
    font-size: 2.2em;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}
.agents-content{
    color: #0E2E50;
    margin-top: 0.3em;
    margin-bottom: 2em;
}
.agents-imfo-div{
    background:white;
}
.agents-info{
    width: 35%;
    position: relative;
    left: 9em;
    bottom: 1em;
}
.agent-card{
    background:white;
    margin: 1.5em 0em;
} 
.agent-icons-div{
    margin-bottom: 1em;
}
.agent-icon{
    margin-right: 0.4em;
    border: solid 1px #00B98E;
    padding: 0.7em;
    border-radius: 50%;
    background:white;
}
.agent-icon:hover{
    background:#00B98E;
}
.agent-name{
    color: #0E2E50;
    font-size: 1.2em;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    margin-left: 1em;
}
.agent-designation{
    color: #0E2E50;
    font-size: 15px;
    margin-left: 2em;
    margin-top: -5px;
    font-family: "Inter",sans-serif;
}
/* the lines below are the styles of the testimonial component */
.testimonial{
    margin:0em; 
    padding-bottom: 3em; 
}
.testimonial-preview{
    text-align: center;
}
.testimonial-header{
    color: #0E2E50;
    font-size: 2.2em;
    font-family: "Inter",sans-serif;
    margin-top: 0.3em;
    font-weight: 700;
}
.testimonial-content{
    color: #0E2E50;
    margin:2em;
}
.person-card{
    padding: 3em;
}
.person-content{
 padding: 1em 1em;
 background: white;
}
.person-info{
display: flex;
padding: 0em 1em 1em 1em;
background: white;
}
.person-pic-img{
width: 3em;
}
.person-profession{
    font-size: 15px;
    padding-left: 1em;
}
.person-name{
    font-weight: bold;
    padding-left: 1em;
}
.show{
    display: block;
}
/* .person-testimonials{
    border: solid 1px black;
    margin: 1em 0em;
} */
.person-content{
    padding: 1em 1em;
    background: white;
   }
   .person-info{
   display: flex;
   padding: 0em 1em 1em 1em;
   background: white;
   }

}
@media only screen and (min-width:482px){
    .list-equipments{
        margin: 0em 2em 2em 2.5em; 
     }
     .list-vutton{ 
        width: 55%;
        margin-bottom: 5em;
    }
    .main-title{
        font-weight: 700;
        padding-right: 0em;
    }
    .btn-main{
        width: 40%;
    }
    .formbar{
        padding: 2em 0em;
        margin-bottom: 5em;
    }
    .home-options{ 
        width: 80%;
    }
    .input{
        width: 80%;
    }
    .place-btn{
        width: 35%;  
    }
    .list-nature{
        width:20%;
        bottom:17em;
    }
    .list-type{
        width: 25%;
     }
     .contact-div{
        margin-bottom: 5em;
    }
    

}
@media only screen and (min-width:768px){
/* the lines below inclued s the styles for the agent component */
.agents-header{
    font-size: 2.1em
}
.agents-content{
    margin:0 auto;
    margin-bottom: 1em;
    width:80%;
}
.agents-imfo-div{
     display: grid;
    grid-template-columns: auto auto;
}
.agents-info{
    width: 40%;
    left: 7em;
}
.agent-card{
    margin: 0.75em;
} 
/* the lines below are the styles of the testimonial component */
.testimonial-content{
    width:80%;
    margin:0 auto;
}
/* style thatfollow correspond the contact component   */
.contact-div{
    margin-bottom: 4em;
}
.contact-btns{
    display:flex;
    /* justify-content: space-between; */
}

.contact-btn2{ 
    margin-top:0em;
}
/* the styles below correspons to the listing components */
.listing-properties{
    display: grid;
    grid-template-columns: auto auto;
}
.list-property{
    margin:0.5em;
}
.list-nature{
    width: 28%;
    bottom:14em;
}
.list-type{  
    padding: 0.3rem 0rem;
    width: 30%;
    bottom:3.5em;
 }
 .list-vutton{  
    width: 35%;
    margin: 0 auto;
    margin-bottom: 7em;
    margin-top:1em;
}
.list-equipments{
    margin: 1em 2em 1em 1.5em; 
 }
 /* The styles below os for the ownership component */
 .properties-title{
    color: #0E2E50;
    font-size: 2.5em;
    font-weight:500;
}
 .properties-content{
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    width: 80%;
    margin: 0 auto;
}

 /* the lines below illustrates the styles of the formbar component */
 .formbar{
    padding: 2em 8em;
    margin-bottom: 5em;
    display:flex;
}
.input{
    width: 27%;
}
.btn-input{
    padding: 0em;
    width: 15%;
}
.home-options{ 
    width: 27%;
    border-radius: 5px;
}
/* the lines thatfollow are the sytle for the mainbar component */
    .mainbar{
        display: flex;
        padding-left: 0em;
        flex-direction:row-reverse;
    }
    .mainbar-left{
        flex: 50%;
    }
    .mainbar-right{
        flex: 50%;
    }
    .main-title{
        font-size: calc(1.305rem + 2vw);
        padding-right: 2em;
        margin-bottom: 0.4em;
    }
    .main-content{
        line-height: 1.5; 
        font-size: 0.9em;
        padding-right:2em ;
        margin-bottom: 2em;
        color: #666565;
    }
    .btn-main{
        width: 40%;
    }
}
/* The designs that follow are the designs for the desktop view */
@media only screen and (min-width:992px){
    /*the design for the main bar */
       .btn-main{
        width: 30%;
    }
     /* the lines below illustrates the styles of the formbar component */
 .formbar{
    padding: 2em 5em;
    margin-bottom: 4em;
}
/* the lines that follow are for the ownership copmonent */
.properties-content{
    width: 75%;
}
.properties{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 2em 3.5em;
    border: solid 1px black;
}
.property-card{
    padding: 1em;
}
.place{
    display:flex;
    margin: 2em 5em;
    border: solid 1px black;
}
.listing-preview{
    display:flex;
    margin: 0em 3.5em;
    justify-content: space-between;
    border: solid 1px black;
}
.listing-div{
flex: 50%;
}
.listing-buttons{
    flex: 50%;
    justify-content: end;
    padding-top: 5em;
}
.listing-content{
    margin: 0.7em 0em 0em 0em;
}

/* the styles below correspons to the listing components */
.listing-properties{
    display: grid;
    grid-template-columns: auto auto auto;
     margin: 1em 3.5em;
     border: solid 1px black;
}
.list-property{
    margin:0.5em;
}
.list-nature{
    width: 25%;
    bottom:14em;
}
.list-type{  
    padding: 0.3rem 0rem;
    width: 30%;
    bottom:3.5em;
 }
 .list-vutton{  
    width: 25%;
    margin-bottom: 3em;
}
.list-equipments{
    margin: 1em 2em 1em 1.5em; 
 }
 .list-nature{
    width: 28%;
}
.contact-card{
    display:flex; 
    justify-content: space-between;
}
.contact-div{
   margin: 1em 5em;    
    margin-bottom: 4em; 
}
.contact-left{
    flex:50%;
}
.contact-right{
    flex:50%;
    padding:0em 1em 0em 2.5em;
    font-size: 15px;
}
.contact-btn1,.contact-btn2{
    padding: 1em 1em;
}
.agents{
/* border: solid 1px black;  */
margin: 1em 5em; 
}
.agents-content{
    width:70%;
    font-size:15px;
}
.agents-imfo-div{
    grid-template-columns:auto auto auto auto;
}
.agents-info{
    width: 60%;
    left: 4em;

}
.testimonial-content{
    width:70%;
    margin:0 auto;

}
.person-testimonials{
    border: solid 1px black;
    margin: 1em 5em;
}


}





