@media only screen and (min-width:1px){
    .mainbar{
        background: whitesmoke;
    }
    .main-title{
        font-size: calc(1.505rem + 2vw);
        font-weight: 900;
        line-height: 1.2;
        padding-right: 2em;
        margin-bottom: 0.7em;
    }
    .main-span{
        color: #00B98E;
    }
    .main-content{
        line-height: 1.5; 
        font-size: 1em;
        padding-right:2.5em ;
        margin-bottom: 2em;
        color: #666565;
    }
    .btn-main{
        width: 25%;
    }
    .mainbar-right{
        padding-left: 0em;
    }
    .mainbar-left{
        padding:3em  0em 3em 3em;
    }
    /* the lines below illustrates the styles of the formbar component */
    .formbar{
        background:   #00B98E ;
        padding: 2em;
        margin-bottom: 5em;
    }
    .input{
        width: 75%;
        margin:0 auto;
        color: #666565;
        background-color: #fff; 
        margin-bottom: 0.6em;
        border-radius: 5px;
        padding: 1em 0.7em;
    }
    .btn-input{
        padding: 0em;
    }
    .formbar-search{
        width: 100%;
    }
    .formbar-search:focus{
        outline: none;
    }
    .form-location {
        color: #666565;
        background-color: #fff;
        line-height: 1.7; 
        border-radius: 5px;
        border: none;
        width: 100%;
        padding: 1em ;
    }
    .form-location:focus{
        outline: none;
    }
    .home-options{ 
        width: 75%;
        margin:0 auto;
        color: #666565;
        background-color: #fff; 
        margin-bottom: 0.6em;
        border-radius: 5px;
    }
/* The lines thatfollow are the styles for thr ownership component */
.ownaership,.listing{
  margin:0em 7em;
}
.properties-section{
    text-align: center;
}
.properties-title{
    color: #0E2E50;
    font-size: 3em;
    font-weight:500;
}
.properties-content{
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
}
.property-prop{
    background:  #EFFDF5;       
    margin: 0.5em;
    padding: 1em;
} 
.property-card{
    border:dashed 1px #00B98E ; 
    background:white;
    padding: 1.5em 0em;
    border-radius: 7px;
    margin: auto;
}
.property-card:hover {
background: #00B98E;
}
.property-image-div{
 border:dashed 1px #00B98E ; 
 border-radius: 50%;
 width: 4.8em;
 padding: 1em;
 margin: 0 auto;
 background: white;
}
.property-title-div{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 0.6em;
   
}
.property-count-div{
    margin: 0 auto;
 text-align: center;
 margin-top: 0.3em;
color: #00B98E;
 
}
.properties{
    display: grid;
    grid-template-columns: auto auto;
    margin:2em 0em;
}
/* the lines thatfollow are the styles for the places component  */
.place{
    margin:0em 7em;      
}
.place-left{
background: linear-gradient(90deg, #00B98E 0%, rgb(255, 255, 255) 51%, rgb(251, 251, 251) 51%, rgb(249, 246, 246) 0%);
padding: 3em;
}
.list{
    font-size: 1rem;
    font-weight: 400;
   margin-top: 1em;
    color: #666565;
    
}
.place-header{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #0E2E50;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}
.place-content{
    color: #0E2E50;
    font-size: 1rem;
}
.place-list {
    margin-bottom: 5em;
}
.place-btn{
    width: 30%;
    margin: 2em 0em;   
}
/* the lines thatfollow are the styles for the listing component  */
.listing-header{
    font-family: "Inter",sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #0E2E50;
}
.listing-content{
    margin: 0.7em 0em 3em 0em;
    color: #0E2E50;
}
.list-nature{
    background: #00B98E;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    width: 16%;
    position: relative;
    bottom:21em;
    left: 1.5em;
}
.list-type{
   color:#00B98E; 
   background: white;
   border-radius: 5px;
   padding: 0.3rem 0.75rem;
   width: 20%;
   position: relative;
   bottom:3.5em;
   left: 1.5em;
   text-align: center;
}
.list-price{
    color:#00B98E; 
    font-size: 1.3em;
    font-weight: bold;
    margin: -2em 0em 0.5em 1em;
}
.list-name{
    font-size: 1.2em;
    font-weight: 600; 
    margin: 0em 0em 0em 1em;
}
.location-img{
    width: 1em;
    margin-top: 2px;
    margin-right: 8px;
}
.location{
    margin-left: 20px;
}
.list-equipments{
   margin: 0em 2em 2em 2.5em; 
   color: #666565;
    font-size: 16px;
}
.area-img {
    height: 23px;
}
.list-vutton{
   
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7em;
}
/* style thatfollow correspond the contact component   */
.contact-div{
    margin:0em 7em;     
    background:  #EFFDF5;
    padding: 1.3em;
    margin-bottom: 7em;
}
.contact-card{
    background: white;
    padding: 1.5em;
}
.contact-header{
    font-family: "Inter",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #0E2E50;
    font-size: 2.2em;
    margin: 1.2em  1em   0.5em 0em ;
}
.contact-content{
    color: #0E2E50;
    margin-bottom: 1.5em;
}
.phene-call-img{
    width:1.4em;
    margin-top: 2px;
}
.cal-call-img{
    width:1.3em;
    margin-top: 2px;
}
.contact-btn1{
    border:none;
    color: #fff;
    background-color: #00B98E;
    border-color: #00B98E;
    border-radius: 5px;
    padding: 1em 1.2em;
}
.contact-btn2{
    border:none;
    color: #fff;
    background-color: #0E2E50;
    border-color: #0E2E50;
    border-radius: 5px;
    padding: 1em 1.2em;
}

/* the lines below inclued s the styles for the agent component */
.agents{
    margin:0em 7em; 
    padding-bottom: 5em; 
}
.agents-previw{
    text-align: center;
}
.agents-header{
    color: #0E2E50;
    font-size: 2.2em;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}
.agents-content{
    color: #0E2E50;
    margin-top: 0.3em;
    margin-bottom: 2em;
}
.agents-imfo-div{
    background:white;
}
.agents-info{
    width: 30%;
    position: relative;
    left: 12em;
    bottom: 1em;
}
.agent-card{
    background:white;
    margin: 1.5em 0em;
} 
.agent-icons-div{
    margin-bottom: 1em;
}
.agent-icon{
    margin-right: 0.4em;
    border: solid 1px #00B98E;
    padding: 0.7em;
    border-radius: 50%;
    background:white;
}
.agent-icon:hover{
    background:#00B98E;
}
.agent-name{
    color: #0E2E50;
    font-size: 1.2em;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    margin-left: 1em;
}
.agent-designation{
    color: #0E2E50;
    font-size: 15px;
    margin-left: 2em;
    margin-top: -5px;
    font-family: "Inter",sans-serif;
}
/* the lines below are the styles of the testimonial component */
.testimonial{
    margin:0em 7em; 
    padding-bottom: 5em; 
}
.testimonial-preview{
    text-align: center;
}
.testimonial-header{
    color: #0E2E50;
    font-size: 2.2em;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}
.testimonial-content{
    color: #0E2E50;
    margin-top: 0.3em;
    margin-bottom: 2em;
}
.person-div{
    border: solid 1px black;
    background:  #EFFDF5;
    padding: 1.3em;
}
.person-card{
    border: solid 1px red;
    padding: 1.5em;
}
.slider-Button{
    position: relative;
    top:10em;
 right: 1em;
}










.show{
    display: block;
}


}
@media only screen and (min-width:768px){
    .mainbar{
        display: flex;
        padding-left: 3em;
    }
    .mainbar-left{
        flex: 50%;
    }
    .mainbar-right{
        flex: 50%;
    }
    .main-title{
        font-size: calc(1.305rem + 2vw);
        padding-right: 2em;
        margin-bottom: 0.4em;
    }
    .main-content{
        line-height: 1.5; 
        font-size: 0.9em;
        padding-right:2em ;
        margin-bottom: 2em;
        color: #666565;
    }
    .btn-main{
        width: 30%;
    }
}