*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.btn-1{
  border:none;
  background-color: #00B98E;
  border-color: #00B98E;
}
.App{
background: whitesmoke;
}

@media only screen and (min-width:1px){
  .mobile{
    display: flex;
  }
  .desktop{
    display: none;
  }
  .nav-brand{
    color: #00B98E ;
  }
.nav-logo{
  border:dashed 1px #00B98E ; 
 border-radius: 50%;
 width: 2.8em;
}
.nav-button{
  border: solid 1px rgba(0,0,0,0.1);;
  padding:0.7em
}
.dropdown{
  width:0.7em;
  margin-top: 5px;
  margin-left: 5px;
}
.arrow1{
  transform: rotate(180deg);
}
.options{
  font-weight: 300;
  color: var(--dark);
  padding-left: 1em;
  display: none;
}
.hidden-nav{
  position: absolute;
  width: 100%;
  left:0em;
  border-top: solid 1px #00B98E ;
  background: white;
  padding-left: 1.5em;
  display: none;
}
.navlinks{
  margin-bottom: 1em;
  color: var(--dark);
  font-weight: 500;
}
.show{
  display: block;
}
/* the ;ines that folloe are for the footer component */
.footer{
  background: #0E2E50;
  padding:6em 7em 2em 7em;

  }

.touch-img-mail, .touch-img-phone,.touch-img{ 
  width: 1em;
  margin-right:0.8em;
  margin-top:6px;
}
.touch-info-right{
  font-size:1.05em;
  color:rgb(181, 169, 169);
}
.touch-info{
  margin-bottom:0.3em;
}
.footer-img{
  width: 1.8em;
  border-radius: 50%;
  background: white;
  padding: 0.3em;
}
.footer-iconss{ 
  margin-top:1em;
}
.fotter-icons8{
  border: solid 1px white; 
 border-radius: 50%;
 margin-right: 0.5em;
 margin-right: 0.5em;
 margin-bottom: 2.5em;
}
.footer-link-arrow-img{
  width:0.4em;
  transform: rotate(180deg);
  margin:6px 10px 0px 0px;
}
.footer-link{
  display:flex;
}
.footer-link{
  color:rgb(181, 169, 169); 
  font: size 0.8em;
}
.footer-touch-header,.footer-link-header,.footer-gallery-header,.footer-newsletter-header{
  color:white ;
  font-weight:700;
  font-size:1.25em;
  margin-bottom:0.7em;
 }
 .footer-gallery{
  margin-top:2em;
 }
.footer-gellery-pic{
  border:solid 5px white;
  border-radius:5px;
  margin:4px
}
.footer-gallery-pics-div{
  margin-left:-4px;
  margin-bottom:2em;
}
.footer-newsletter-content{
  color:rgb(181, 169, 169); 
  font: size 1em;
}
.footer-newsletter-info{
  border:solid 1px rgb(181, 169, 169); 
  display:flex;
  padding:0.4em;
  margin:1em 4em;
  border-radius:6px;
}
.footer-newsletter-btn{
  flex:15%;
 margin-left:0.3em
}
.footer-newsletter-form{
  flex:85%;
  border:none;
  margin-left:1em;
}
.newsletter-form{
  width:100%;
  padding: 0.7em;
  border:none;
  background: transparent;
  color: rgb(181, 169, 169);
}
.newsletter-form:focus{
  outline:none;
}
.footer-hr{
  background: rgb(181, 169, 169);
  margin:3em 0em 2em 0em;
}
.footer-address a{
  color:white;
}
.footer-address-content{
  color: rgb(181, 169, 169);
  margin:0em 10px;
}
.footer-address-link{
 padding-bottom: 2px;
 border-bottom-style: solid;
 border-bottom-width:1px;
 width: fit-content;
}
.footer-address-links{
  margin:0 auto;
  width:50%;
  justify-content:space-between;
  margin-top:1em;
}










  
}

@media only screen and (min-width:991px){
  .desktop{
    display: flex;
  }
  .mobile{
    display: none;
  }
  .nav-brand{
    color: #00B98E ;
  }
  .navlinks{
    margin-left: 1.5em;;
    font-size: 0.9em;
  }
  .options{
    padding-left: 0em;
  }
  .options1,.options2{
    padding-left: 0em;
    width: 9em;
    padding: 0.5em 1em;
    position: fixed;
    color: #212529;
    border: solid 1px grey;
  }
  .option{
    padding-top: 0.3em;
  }
  .navlinks:hover{
    color: #00B98E ;
  }
  .button{
background: #00B98E ;
color: white;
padding:0.3em 1em;
border-radius: 5px;
margin-top: -30px;
  }
.button:hover{
  background :#189d7e ;
}
}
