@import url("leaflet/dist/leaflet.css");

  .leaflet-container {
    width: 100%;
    height: 77vh;
  }
  @media only screen and (min-width:768px){
    .leaflet-container {
      height: 48vh;
    }
  }
  @media only screen and (min-width:992px){
    .leaflet-container {
      height: 70vh;    
    }
  }
@tailwind base;
@tailwind components;
@tailwind utilities;body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
